// Fuentes

$fuentePrincipal: 'Rajdhani', sans-serif;

// Colores

$blanco: #FBFBFB;
$negro: #1d1d1d;
$gris: #746C70;
$cool: #4E4F50;
$rojo: #b3092e;
$azul: #075c8d;
$acua: #01949A;
$pela: #E2DED0;
$naranja: #ec7412;

// Separacion

$separar: 5rem;

// Pulsar

$pulsar: inset 0px -1px 16px -3px rgba(0,0,0,1);



